<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	<add name="ConnectionStringToCharity" connectionString="Data Source=45.252.251.8;port=3306;Initial Catalog=abwwanwc_charitydb;User ID=abwwanwc_thangdeptrai;Password=Qpmzwonx10@;charset=utf8;" />	
  </connectionStrings>
  <appSettings>
	<add key="LogisticsApiPath" value="http://betalogisticapi.thegioididong.com/" />
	<add key="LogisticApiAuthenKey" value="56c68381262b0951ec695e6d409097a3" />
	<add key="HazelcastApiPath" value="http://10.1.4.38" />
	<add key="HOUR_DELIVERY_AIRCONDITIONER" value="20" />
	<add key="TGDD.LOG.TYPE" value="graylog" />
	<add key="TGDD.LOG.GRAYLOG.IP" value="10.1.5.197" />
	<add key="TGDD.LOG.GRAYLOG.PORT" value="12201" />
	<add key="TGDD.LOG.GRAYLOG.PROJECTTYPE" value="logistic" />
  </appSettings>
</configuration>